.nav{
  margin-top: 20pt;  
}
.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 45px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
     
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
 
  
  #banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);

  }
  .promo-title{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 80px;
    color: white;
  }
  p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 30pt;
  }
  .img-fluid{
  margin-top: 80px;
  }
  #services{
    background-image: linear-gradient(to right, black, black);
  
  }
  #video{
    background-image: linear-gradient(to right, #a517ba, #5f1782);

  }
  #last{
    background-image: linear-gradient(to right, rgb(49, 44, 44), rgb(59, 58, 58));
  
  }
  #icons{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 150px;
  }
  .numbert{
    margin-left: 20px;
  }
  .numberth{
    margin-left: 20px;
  }
  .numberf{
    margin-left: 20px;
  }
  .numberfv{
    margin-left: 20px;
  }
.row{
  font-size: 20px;
  margin-left: 30px;
}
  .bottom-img{
    margin-left: 90pt;
  }
  .heading{
    color: white;
    margin-left: 30pt;
    
  }
  .main{
    color: white;
    text-align: left;
    margin-left: 6cm;
    font-size: 20pt;
  }
  .mains{
    color: white;
    text-align: left;
    margin-left: 30pt;
  }
  .maint{
    color: white;
    text-align: left;
    margin-left: 30pt;
  }
  .mainft{
    color: white;
    text-align: left;
    margin-left: 30pt;
  }
  
  .mainx{
    color: white;
    text-align: left;
    margin-left: 30pt;
    margin-bottom: 40px;
  }
  .mainn{
    color: white;
    padding-left: 50px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .centered{

    font-size: 15pt;
    
  }
  .button {
    background-color:rgb(15, 236, 214);
    border: none;
    color: black;
    padding: 10px 70px;
    text-align: center;
    font-weight: 600;
    
    display: inline-block;
   margin-left: 30pt;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .one { 
    margin-left: 27cm;
    margin-right: 20pt;
    margin-bottom: 1cm;
} 
.two{
  margin-top: 1cm;
  margin-left: 2cm;
}
.bline{
  font-size: 10pt;
  color: white;
}
.point{
  margin-bottom: 80px;
}
#footer { 
  
  padding: 10px 10px 0px 10px; 
  bottom: 0; 
  width: 100%; 
  /* Height of the footer*/  
  height: 300px; 
  background:rgb(0, 0, 0); 
  color: white;
} 
.logof{
  margin-left: 20pt;
  margin-top: 2cm;
}
.break{
color: white;

}

.fa-facebook {
  
  color: white;
 
  margin-left: 1200px;
  margin-right: 20px;
}

.fa-twitter {
 margin-right: 20px;
  color: white;
  
}
.fa-instagram {
  
  
  color: white;
  
}

.stats{
  margin-bottom: 1cm;
}